:root {
  --bg: black;
  --bgSoft: #2d2d2d;
  --text: white;
  --textSoft: #e5e5e5;
  --btn: #3673fd;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--bg);
  color: var(--text);
  min-height: 100vh;
}

a{
  text-decoration: none;
  color: inherit;
}

.container {
  background-color: #090a20;
  width: 100vw;
  padding: 0 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1536px) {
  .container {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}